<ion-view class="pane">
  <ion-nav-buttons></ion-nav-buttons>
  <ion-nav-title>
    <div class="row">
      <div class="titulo col col-50">
        <h4 class="white mt-8">Olmix Myco'Evaluator</h4>
      </div>
      <div class="nav-img col col-50">
        <img ng-src="./assets/images/logo-cabecera.png">
      </div>
    </div>
  </ion-nav-title>
  <ion-content>
    <div class="container-wrapper">
      <form ng-submit="login.onSubmit()" class="login__form" name="login.form" novalidate>
        <div>
          <span class="item item-input">
            <input type="email" name="email" placeholder="{{'login.email.placeholder'|translate}}"
                   ng-model="login.fields.email" ng-required="true"/>
          </span>
          <error-label
            error-translate-key="login.email.error"
            condition="(login.form.email.$error.required || login.form.email.$error.email) && login.form.email.$dirty">
          </error-label>
        </div>
        <div>
          <span class="item item-input">
            <input type="password" name="password" placeholder="{{'login.password.placeholder'|translate}}"
                   ng-model="login.fields.password" ng-required="true"/>
          </span>
          <error-label
            error-translate-key="login.password.error"
            condition="login.form.password.$error.required && login.form.password.$dirty"></error-label>
        </div>
        <button type="submit" class="button submit-form">{{'login.submit' | translate}}</button>
        <div class="center" ng-if="login.showLoadingIcon">
          <ion-spinner></ion-spinner>
        </div>
        <div class="center">
          <error-label error-translate-key="login.error" condition="login.showErrorText"></error-label>
        </div>
        <hr />
        <p>{{'login.create_account'|translate}} <a ng-click="login.goToRegister()" class="text-brand">{{'login.register'|translate}}</a></p>
      </form>
    </div>
  </ion-content>
</ion-view>
