.login__form {
  margin: 20px 220px;

  > div {
    margin-bottom: 20px;
  }

  .submit-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width : 943px) {
    margin: 20px 0;
  }
}
