<ion-view view-title="Selecciona">
    <ion-content>
        <div class="row">
          <div class="col-33">
              <div class="animal vaca">
                <img src="./images/vacas.png" alt="Imagen de una vaca" ng-click="seleccionAnimal.onAnimalSelection('cow')"/>
                <p class="animal--titulo">Vaca</p>
              </div>
          </div>
           <div class="col-33">
             <div class="animal pollos">
               <img src="./images/cerdos.png" alt="Imagen de unos cerditos" ng-click="seleccionAnimal.onAnimalSelection('swine')" />
                 <p class="animal--titulo">Cerdos</p>
             </div>
           </div>
          <div class="col-33">
            <div class="animal cerdos">
              <img src="./images/gallinas.png" alt="Imagen de unos cerditos" ng-click="seleccionAnimal.onAnimalSelection('poultry')"" />
                <p class="animal--titulo">Gallinas</p>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="texto-seleccion">Elige el tipo de animal a evaluar</p>
        </div>
    </ion-content>
</ion-view>
