<ion-view view-title="Selecciona">
    <ion-content>
        <!-- <ion-list>
            <ion-item ng-repeat="animal in seleccionAnimal.animales">
                {{ animal }}
                <ion-option-button class="button-positive" ng-click="seleccionAnimal.removeAnimales(animal)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list> -->
        <div class="row">

            <div class="col-33">
              <div class="animal vaca">
            soy vacas
            </div>
         </div>

           <div class="col-33">
             <div class="animal pollos">
               soy pollos
           </div>
        </div>

          <div class="col-33">
            <div class="animal cerdos">
              soy cerdos
           </div>
       </div>
      </div>
    </ion-content>
</ion-view>
