<ion-view class="pane">
  <ion-nav-buttons></ion-nav-buttons>
  <ion-nav-title>
    <div class="row">
      <div class="titulo col col-50">
        <h4 class="white mt-8">Olmix Myco'Evaluator</h4>
      </div>
      <div class="nav-img col col-50">
        <img ng-src="./assets/images/logo-cabecera.png">
      </div>
    </div>
  </ion-nav-title>
  <ion-content>
    <div class="container-wrapper">
      <form ng-submit="register.onSubmit()" class="register__form" name="register.form" novalidate>
        <div>
          <span class="item item-input">
            <input type="text" name="name" placeholder="{{'register.name.placeholder'|translate}}"
                   ng-model="register.fields.name" ng-required="true"/>
          </span>
          <error-label
            error-translate-key="register.name.error"
            condition="register.form.name.$error.required && register.form.name.$dirty"></error-label>
        </div>
        <div>
          <span class="item item-input">
            <input type="text" name="surname" placeholder="{{'register.surname.placeholder'|translate}}"
                   ng-model="register.fields.surname" ng-required="true"/>
          </span>
          <error-label
            error-translate-key="register.surname.error"
            condition="register.form.surname.$error.required && register.form.surname.$dirty"></error-label>
        </div>
        <div>
          <span class="item item-input">
            <input type="text" name="company" placeholder="{{'register.company.placeholder'|translate}}"
                   ng-model="register.fields.company" ng-required="true"/>
          </span>
          <error-label
            error-translate-key="register.company.error"
            condition="register.form.company.$error.required && register.form.company.$dirty"></error-label>
        </div>
        <div>
          <span class="item item-input">
            <input type="email" name="email" placeholder="{{'register.email.placeholder'|translate}}"
                   ng-model="register.fields.email" ng-required="true"/>
          </span>
          <error-label
            error-translate-key="register.email.error"
            condition="(register.form.email.$error.required || register.form.email.$error.email) && register.form.email.$dirty">
          </error-label>
        </div>
        <div>
          <span class="item item-input">
            <input type="password" name="password" placeholder="{{'register.password.placeholder'|translate}}"
                   ng-model="register.fields.password" ng-required="true" ng-minLength="6"/>
          </span>
          <error-label
            error-translate-key="register.password.error"
            condition="(register.form.password.$error.required || register.form.password.$error.minLength) && register.form.password.$dirty">
          </error-label>
        </div>
        <button type="submit" class="button submit-form">{{'register.submit' | translate}}</button>
        <div class="center" ng-if="register.showLoadingIcon">
          <ion-spinner></ion-spinner>
        </div>
        <div class="center">
          <error-label error-translate-key="register.error" condition="register.showErrorText"></error-label>
        </div>
        <hr />
        <p>{{'register.have_account'|translate}} <a ng-click="register.goToLogin()" class="text-brand">{{'register.login'|translate}}</a></p>
      </form>
    </div>
  </ion-content>
</ion-view>
