<ion-view view-title="{{ 'main.view-title' | translate }}">
    <ion-content padding="true">
        <user-menu user="app.user"></user-menu>
        <button ng-click="app.onSeleccionAnimalTap()" class="button button-block button-positive button-outline">
            <strong>Seleccion Animal</strong>
        </button>
        <button ng-click="app.onFormTap()" class="button button-block button-positive button-outline">
            <strong>Form</strong>
        </button>
    </ion-content>
</ion-view>
