<!-- {{evaluationResult.$stateParams.animal}} -->
<ion-view>
  <ion-nav-title>
    <div class="row">
      <div class="nav-titulo col col-33">
        <!--<h4>{{'evaluationResult.view-title' | translate}}</h4>-->
      </div>
      <div class="titulo col col-33">
        <h4 class="white mt-8">Olmix Myco'Evaluator</h4>
      </div>
      <div class="nav-img col col-33">
        <img src="{{evaluationResult.logoIcon}}">
      </div>
    </div>
  </ion-nav-title>
    <ion-content>
      <div class="container-wrapper">
        <div class="imagen-animal-container" style="background-image: url({{evaluationResult.imageAnimal}})";>
          <p class="texto-animal-imagen">{{evaluationResult.textAnimal }} {{evaluationResult.resultSubspecie}}</p>
        </div>
        <p class="result-intro center">{{'evaluationResult.text-result' | translate}}</p>
        <div class="result-container">
          <div class="result-number-container">
            <div class="result-number" style="position: relative; left: {{evaluationResult.resultPercentage}}px; padding: 0 20px 0 0;">{{evaluationResult.resultPercentage}}%</div>
          </div>
          <div class="result-border--wrapper">
            <div class="result-border" style="width: {{evaluationResult.resultPercentage}}%; background-color: #76405D;"></div>
          </div>
          <p class="result-text center">{{evaluationResult.resultText}}</p>
          <div ng-if="evaluationResult.resultEmpty" class="container-wrapper intro-form">
            <p>
              {{'extra.resultEmpty' | translate}}
            </p>
          </div>
        </div>
        <br/>
        <br/>
        <div class="result-send">
          <div class="list list-inset">
            <form class="envio-email" ng-submit="evaluationResult.onSubmit()">
              <formly-form form="evaluationResult.form" model="evaluationResult.viewModel" fields="evaluationResult.fields">
                <p class="share-text" ng-hide="evaluationResult.resultMessage">{{'evaluationResult.CompartirInforme' | translate}}</p>
                <div class="buttom-wrapper" ng-hide="evaluationResult.resultMessage">
                  <button type="submit" class="button submit-form">{{'evaluationResult.email' | translate}}
                  </button>
                </div>
              </formly-form>
            </form>
            <div ng-if="evaluationResult.resultMessage">
              <p class="result-intro center">{{'evaluationResult.send' |translate}}</p>
              <div class="buttom-wrapper">
                <button class="button submit-form icon ion-ios-paw" ui-sref="animalSelection"> {{'menu.selection' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="result-footer">
            <div class="logos-footer center">
              <div class="logo"><img src="{{evaluationResult.logoOlmix}}" alt="logotipo olmix group"/></div>
              <div class="logo"><p class="text-footer">{{'evaluationResult.micotoxine' | translate}}:</p></div>
              <div class="logo"><img src="{{evaluationResult.logoMtx}}" alt="logotipo mtx"/></div>
            </div>
      </div>

    </ion-content>

</ion-view>
