
.result-number-container {
  width: 100%;
  position: relative;
}

.result-intro {
  font-family: source_sans_probold;
  font-size: 20px;
  color: $brand-color;
  margin: 20px 0;
}

.result-border {
  height: 20px;
}

.result-number  {
  color: $brand-color;
  font-family: source_sans_probold_italic;
  font-size: 150px;
  letter-spacing: 0px;
  line-height: 150px;
  position: relative;

  .low {
    position: absolute;
    left: 20%;
  }
  .high {
    position: absolute;
    left: 90%;
  }
}

.mediun {
  left: 50%;
}

.result-text {
  font-family: source_sans_probold;
  font-size: 36px;
  color: rgba(117,64,93,0.55);
  margin-top: 30px;
}

@media (max-width : 500px) {
    .result-number {
      font-size: 90px;
      line-height: 100px;
    }
    .result-border {
      height: 20px;
    }
}

.text-footer {
  font-family: source_sans_probold_italic;
  font-size: 20px;
  color: #096454;
  position: relative;
  top: -29px;
  padding: 0 15px 0 35px;
}

.logos-footer {
  height: 100px;
  margin: 0 auto;
  .logo {
    display: inline-block;
  }
}

.result-footer{
  height: 100px !important;
}


@media (max-width : 500px) {
  .result-footer {
    height: 150px !important;
  }
  .logos-footer {
    .text-footer {
      font-size: 14px;
      top: 0;
      padding: 0;
    }
    .logo {
      display: block;
      img {
        width: 30%;
      }
    }
  }
}

.result-container {
  padding: 0 220px;
}


.result-send {
  padding: 0 220px;
  @media (max-width : 500px)  {
    padding: 0;
  }
}

// ANIMAL COMPONENT

.imagen-animal-container {
  background-position: center;
  background-size: cover;
  height: 150px;
  margin-top: 25px;
}

.texto-animal-imagen {
  font-size: 24px;
  color: #FFFFFF;
  padding: 63px;
  text-align: center;
}

@media (max-width : 500px) {
  .imagen-animal-container {
    height: 90px;
  }
  .result-container {
    padding: 0 20px;
  }
  .texto-animal-imagen {
    padding: 37px;
  }
}

.envio-email {
  .item-stacked-label {
    .input-label {
      display: block;
    }
  }
}


