.animal{
  position: relative;
  img {
    width: 100%;
  }
}
.animal--titulo{
  position: absolute;
  bottom: 80px;
  left: 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.texto-seleccion {
  background: black;
  color:white;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

  .animal-col {
    &.col {
      background-color: black;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

.animal-temp {
  background-position: center;
  background-color: black;
  background-size: cover;
  width: 100%;
  position: relative;
}

@media (max-width : 500px) {
    .animal-temp {
      height: 200px !important;
    }
}

.select-footer {
  background-color: #000 !important;
}

.bar-menu{
  h1{
    img{
      width: auto;
      height: 40px;
      position: relative;
      top: 4px;
    }
  }
  .icon{
    color:$brand-color;
  }
}

.nav-titulo {
  text-align: left;
  img{
    width: auto;
    height:40px;
    position: relative;
    top: 4px;
  }
}

.nav-img {
  img{
    width: auto;
    height:30px;
    position: relative;
    top: -1px;
    float: right;
  }
}