.animal{
  position: relative;
  img {
    width: 100%;
  }
}
.animal--titulo{
  position: absolute;
  bottom: 80px;
  left: 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.texto-seleccion {
  background: black;
  color:white;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

  .animal-col {
    &.col {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

.animal-temp {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}

@media (max-width : 500px) {
    .animal-temp {
      height: 200px !important;
    }
}
