.animal{
  position: relative;
}
.animal--titulo{
  position: absolute;
  bottom: 80px;
  left: 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.texto-seleccion {
  background: black;
  color:white;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
}
