<ion-view class="fondo">
    <ion-nav-title>
        <div class="row">
            <div class="nav-titulo col col-33">
                <h4>{{'animalSelection.view-title' | translate}}</h4>
            </div>
            <div class="titulo col col-33">
            </div>
            <div class="nav-img col col-33">
                <img src="{{animalSelection.logoIcon}}">
            </div>
        </div>
    </ion-nav-title>
    <ion-content class="seleccion-animal">
        <div class="row responsive-sm">
            <div class="animal-col col col-33" ng-repeat="anim in animalSelection.animals">
                    <div class="animal-temp" style="background-image: url({{ anim.path}}); height: {{animalSelection.dimensionHeight}}px;" ng-click="animalSelection.onAnimalSelection(anim.name)" >
                        <p class="animal--titulo">{{anim.text | translate}}</p>
                    </div>
            </div>
        </div>
    </ion-content
       <ion-footer-bar class="select-footer">
        </ion-footer-bar>
</ion-view>
