<ion-view>
    <ion-nav-title>
        <div class="row">
            <div class="titulo col col-50">
                <!--<h4>{{'forms.view-title' | translate}}</h4>-->
                <h4 class="white mt-8">Olmix Myco'Evaluator</h4>
            </div>
            <div class="nav-img col col-50">
                <img src="{{form.logoIcon}}">
            </div>
        </div>
    </ion-nav-title>
    <ion-content>
        <div class="container-wrapper intro-form" ng-if="form.selectorViewModel.selector !== 'default'">
            <p>
                {{'extra.descriptionForm' | translate}}
            </p>
        </div>
      <div class="container-wrapper">
        <h4 style="text-align: center;" ng-if="form.selectorViewModel.selector == 'default'">{{'animal.' + form.$stateParams.animal | translate}}</h4>
        <form>
            <formly-form model="form.selectorViewModel" fields="form.selector" form="form.form1">
            </formly-form>
        </form>
        <form ng-submit="form.onSubmit()" novalidate>
            <formly-form form="form.form2" model="form.viewModel" fields="form.fields">
                <div ng-if="form.selectorViewModel.selector !== 'default'">
                  <div class="buttom-wrapper">
                    <button type="submit" ng-disabled="form.form1.$invalid" class="button submit-form">{{'forms.evaluate' | translate}}
                    </button>
                  </div>
                </div>
            </formly-form>
        </form>
      </div>
    </ion-content>
</ion-view>
<script type="text/ng-template" id="panel.html">
    <div class="panel panel-primary">
        <div class="panel-heading px-nested-panel-heading clearfix form-label-wrapper">
            <strong class="control-label" ng-if="options.templateOptions.label">
                {{options.templateOptions.label}}
            </strong>
        </div>
        <div class="panel-body px-nested-panel-body">
            <formly-transclude></formly-transclude>
        </div>
    </div>
</script>
