/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


$font-family-base: -apple-system, "Helvetica Neue", "Roboto", sans-serif;

// The path for our ionicons font files
$ionicons-font-path: "assets/fonts";

//variables
$dark: #263238;
$positive: #2196F3;
$brand-color:#76405D;

//genericos
.row{
  padding: 0!important;
}

// include all of Ionic
@import "../../node_modules/ionic-sdk/scss/ionic";

// include your custom component SCSS modules
@import '../app/views/about/about.scss';
@import '../app/views/seleccionAnimal/seleccionAnimal.scss';

.bar {

  &.bar-solid{
    border-bottom:3px solid $brand-color;
    background: white;

  }

  .title{
    color: $brand-color!important;
  }

  .button{
    color: black!important;
  }

  // &.bar-gradient {
  //   background: linear-gradient(to right, #1976D2, #90CAF9);
  // }
  // &.bar-gradient-dark {
  //   background: linear-gradient(to right, #263238, #546E7A);
  // }
}

.bar-menu{
  h1{
    img{
      width: auto;
      height: 40px;
      position: relative;
      top: 4px;
    }
  }
  .icon{
    color:$brand-color;
  }
}
