/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@font-face {
    font-family: 'source_sans_probold';
    src: url('assets/fonts/sourcesanspro-bold-webfont.eot');
    src: url('assets/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('assets/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('assets/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('assets/fonts/sourcesanspro-bolditalic-webfont.eot');
    src: url('assets/fonts/sourcesanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/sourcesanspro-bolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/sourcesanspro-bolditalic-webfont.woff') format('woff'),
         url('assets/fonts/sourcesanspro-bolditalic-webfont.ttf') format('truetype'),
         url('assets/fonts/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-base: -apple-system, "Helvetica Neue", "Roboto", sans-serif;

// The path for our ionicons font files
$ionicons-font-path: "assets/fonts";


//variables
$dark: #263238;
$positive: #2196F3;
$brand-color:#76405D;

//genericos
.row{
  padding: 0!important;
}

.center {
  text-align: center;
}

// include all of Ionic
@import "../../node_modules/ionic-sdk/scss/ionic";

// include your custom component SCSS modules
@import '../app/views/animalSelection/animalSelection.scss';
@import '../app/views/forms/forms.scss';
@import '../app/views/evaluationResult/result.scss';

.bar {

  &.bar-solid{
    border-bottom:3px solid $brand-color;
    background: white;

  }

  .title{
    color: $brand-color!important;
  }

  .button{
    color: black!important;
  }

  // &.bar-gradient {
  //   background: linear-gradient(to right, #1976D2, #90CAF9);
  // }
  // &.bar-gradient-dark {
  //   background: linear-gradient(to right, #263238, #546E7A);
  // }
}

.bar-menu{
  h1{
    img{
      width: auto;
      height: 40px;
      position: relative;
      top: 4px;
    }
  }
  .icon{
    color:$brand-color;
  }
}


.splash-container {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container-wrapper {
  padding: 0 100px;
}
@media (max-width : 500px) {
    .container-wrapper {
      padding: 0 30px;
    }
}
